@font-face {
  font-family: "Noto_Sans";
  src: url("./fonts/Noto_Sans/NotoSans_Condensed-ExtraBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("./fonts/Noto_Sans/NotoSans-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("./fonts/Noto_Sans/NotoSans-SemiBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("./fonts/Noto_Sans/NotoSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Noto_Sans";
  src: url("./fonts/Noto_Sans/NotoSans-Light.ttf");
  font-weight: 100;
}
/* * {
  font-family: "Noto_Sans";
} */

@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

.logo span {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 5px 20px;
}

.navbar-menu li a {
  display: block;
  text-decoration: none;
  color: black;
}
.seach {
  display: flex;
  justify-content: start;
  align-items: center;
}
.seach input {
  border: none;
  outline: none;
  padding: 10px;
  display: inline-block;
  align-self: center;
  font-size: 17px;
}

.seach input::placeholder {
  transition: 0.5s all;

  padding-left: 10px;
}

.seach input:focus::placeholder {
  padding-left: 0;
}

.haitam {
  position: relative;
  display: inline-block;
}
.haitam::before {
  content: "\f004";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  margin: 0 15px;
}

.slider-container {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 10px; /* Place buttons at the bottom */
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.swiper-button-prev {
  left: 10px; /* Distance from the left */
}

.swiper-button-next {
  right: 10px; /* Distance from the right */
}

.transparent {
  opacity: 0.5; /* Transparency level */
  pointer-events: none; /* Disable interaction */
}

.swiper-wrapper {
  padding: 10px 0;
}

/* .MuiSlider-root {
  height: 10px !important;
} */
